.notification {
  display: flex;
  margin: 2.5em 0;
  padding: 1em 2em 1em 3.5em;
  border-left: 0.75em solid rgba(0, 0, 0, 0.15);
  color: #fff;
  background: #0f834d;

  .message {
    margin-right: auto;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
