@import '@styles/Variables';

$color-grey: #777;

.result {
  display: block;
  margin-bottom: 6rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: var(--color-black);
}

.subtitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--color-black);
}

.meta {
  font-size: small;
  margin-bottom: 2rem;
}

.no-results {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
  color: $color-grey;
}

.no-results-icon {
  font-size: 6rem;
}

.no-results-text {
  font-size: 3rem;
}

.shop {
  padding: 50px 0px;
  .productWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    a {
      position: relative;
    }
    .onsale {
      border: 1px solid;
      border-color: #43454b;
      color: #43454b;
      padding: 0.202em 0.6180469716em;
      margin: 10px;
      font-size: 0.875em;
      text-transform: uppercase;
      font-weight: 600;
      display: inline-block;
      margin-bottom: 1em;
      border-radius: 3px;
      position: absolute;
      background-color: $color-white;
    }
    .productImage {
      width: 100%;
      height: auto;
    }
    .productImageContainer {
      position: relative;
      display: block;
    }
    .productInfoContainer {
      padding: 2rem 0;
      text-align: center;
      margin-top: auto;
      width: 100%;
      .productTitle {
        width: auto;
        font-weight: 100;
        margin-bottom: 1rem;
        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .productPrice {
        width: auto;
        color: #000;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      .btnContainer {
        .btn {
          margin: 0px 0.5rem;
          background-color: #107f67;
          text-decoration: none;
          font-weight: 500;
          padding: 1rem;
          display: inline-block;
          color: #fff;
          transition: all 0.5s;
          &:hover {
            background-color: #00664e;
          }
        }
      }
    }
  }
}
