.formField {
  margin: 1em 0;

  .formLabel {
    display: block;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 0.5em;
  }

  .formOption {
    border: 1px solid #8f8f8f;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 1px;
    transition: all 0.15s ease;
  }

  .formOptionWrapper {
    display: inline-block;
    position: relative;

    input[type='radio'] {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;

      &:checked + .formOption {
        border-color: #333;
        box-shadow: 0 0 0 1px #333;
      }
    }
  }

  .formOptionVariant {
    display: inline-block;
    font-size: 1em;
    min-width: 2.71429em;
    padding: 1px 0.35714em;
    pointer-events: none;
    text-align: center;
  }

  .formOptionVariantPattern {
    background: transparent no-repeat 50% 50%;
    background-size: cover;
  }

  .formOptionVariantColor,
  .formOptionVariantPattern {
    width: 22px;
    height: 22px;
    pointer-events: inherit;
  }

  .radioLabel {
    display: block;
    margin: 0 0 0.25em;

    input {
      margin: 0 0.4em 0 0;
    }
  }

  .formOptionRectangle {
    font-size: 1em;
  }

  select {
    max-width: 20em;
    padding: 0.25em;
    line-height: 1;

    + select {
      margin-left: 0.5em;
    }
  }

  input[type='text'] {
    display: block;
    width: 100%;
  }

  textarea {
    display: block;
    width: 100%;
    height: 4em;
  }

  input[type='text'],
  input[type='number'],
  textarea {
    padding: 0.5em;
    border-radius: 4px;
    border-width: 1px;
  }
}
