$font-family: Inter, Verdana, Arial, Helvetica, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$breakpoint-extra-small: 640px;
$breakpoint-small: 768px;
$breakpoint-medium: 1024px;

$container-max-width: 1200px;
$content-max-width: 2000px;

$box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

$primary-color: #2a3533;
$color-white: #ffff;
$color-green: #107f67;
$color-red: #f00;
$color-gray: #999;
$color-light-gray: #f8f8f8;
$color-light-red: #ffe3e3;
$color-light-green: #e3ffe3;
