// Theme Modules
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@use 'sass:math';

@import 'Variables';
@import 'Base';
@import 'Spacing';
@import 'Typography';
@import 'Grid';
@import 'Utility';
@import 'Gutenberg';
@import 'ProductSummary';

.notificationBanner a {
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 1px;
  color: inherit;
}
