@import 'styles/Variables';

.footer {
  position: relative;
  background-color: var(--color-primary);
  padding: 3rem;
//  margin-top: 4rem;
  color: var(--color-secondary);

  a {
    color: var(--color-secondary);
    text-decoration: underline;

    &:hover,
    &:focus {
      color: var(--color-white);
    }
  }
}

.bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 2rem;
}

.terms {
  margin-top:auto;
  margin-bottom:auto;
  text-align:left;
}

.copyright {
  text-align: center;
  font-size: 1.5rem;
}
